* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "mifuente";
    src: url('fonts/IndieFlower-Regular.ttf')
}

.container {
    min-height: calc(100vh -576px);
    width: max-content;
}

a {
    font-family: 'mifuente';
}

#style {
    font-family: 'Indie Flower' 'cursive';
}

body {
    position: relative;
    display: flex;
    background-image: url(images/backgroundimage.bmp);
    font-size: 12px;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}

.logoprincipal {
    margin: 5px auto
}

nav ul li {
    list-style: none;
    text-align: center;
    color: #E7A7A8;
    font-weight: bold;
    margin: 20px 400px 20px 400px;
    overflow: hidden;
    background-color: #E7A7A8;
    border: 1px solid rgb(rgb(252, 248, 248), green, blue);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-width: 5px;
    text-decoration-color: black;
}

.whatsapp {}

.instagram {}

.contact-footer {
    background-color: #B19790;
    bottom: 0;
    height: 5px;
    width: 100%;
    padding: 20px 20px 20px 20px;
    display: flex;
    position: fixed;
    margin-top: auto;
    text-align: center;
    align-items: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.clearfix {
    clear: both;
}